<div class="box">
<p class="title">Course Code</p>
<p class="subtxt">BA3102</p>
<p class="title">Course Name</p>
<p class="subtxt">Quantitative techniques</p>
<p class="title">Course Type</p>
<p class="subtxt">Program Elective</p>
<p class="title">Course Period</p>
<p class="subtxt">Semester - I</p>
<p class="title">Credits 4</p>
<p class="subtxtlist">Lecture - 3</p>
<p class="subtxtlist">Tutorial - 0</p>
<p class="subtxtlist">Practical - 1</p>
<p class="subtxt">Projects - 0</p>
<p class="title">Course Outcomes (Cos)</p>
<label>CO2</label>
<label>CO2</label>
<label>CO2</label>
<label>CO2</label>
<label>CO2</label>
<label>CO2</label>
<p class="title">Mapped to this Course</p>
<label class="bluebox">PO7</label>
<label  class="bluebox">PO10</label>
<label  class="bluebox">PO12</label>
<label  class="bluebox">PO8</label>

</div>